@import "../variables";

:where(.css-dev-only-do-not-override-f7vrd6).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  background-color: $color-001529;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #000000;
  border-color: #000000;
}

.refund-content {
  padding: 125px 250px;

  @media (max-width: 1300px) {
    padding: 60px 150px;
  }
  @media (max-width: 1070px) {
    padding: 60px 60px;
  }
  @media (max-width: 900px) {
    padding: 15px 15px;
    .ant-upload-wrapper {
      span {
        font-size: 10px !important;
      }
    }
  }
}

.receipt {
  h1{
    font-size: 20px !important;
  }
  span {
    font-size: 13px !important;
  }
}
